<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="generator.domain.User">
            <id property="id" column="id" />
            <result property="userName" column="user_name" />
            <result property="userRole" column="user_role" />
            <result property="userAvatar" column="user_avatar" />
            <result property="gender" column="gender" />
            <result property="loginName" column="login_name" />
            <result property="loginPwd" column="login_pwd" />
            <result property="accessKey" column="access_key" />
            <result property="secretKey" column="secret_key" />
            <result property="phone" column="phone" />
            <result property="email" column="email" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,user_role,user_avatar,gender,login_name,
        login_pwd,access_key,secret_key,phone,email,
        create_time,update_time,deleted
    </sql>
</mapper>
